.Título{
    background-color: gray;
    padding: 10px;
}
body{
    background-color: rgb(28, 28, 28);
}
h1{
    text-align: center;
    text-wrap: 100px;
    font-size: 50px ;
    color: rgb(215, 197, 1);
}

nav{
    text-align: center;
}

nav a{
    color: rgb(215, 197, 1);
    padding: 10px;
    font-size: 30px;
}
main{
    display: grid;
    grid-template-areas: "primeiro aside";

}

/* aside{
    width: 50%;
    size: 100%;
    grid-area: "aside";
    align-items: center;
    flex: 1;
} */
article{
    font-size: 30px;
    color: rgb(215, 44, 1);
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 85%;
    /* size: 100%; */
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.inicio p{
    color: white;
    grid-area: "primeiro";
    flex: 3;
    font-size: 18px;
}
.historia p{
    color: white;
    font-size: 18px;
}

.jogabilidade p{
    color: white;
        font-size: 18px;
}
.jogabilidade li{
    color: white;
        font-size: 18px;
}

footer{
    background-color: gray;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-wrap: 100px
}